/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    padding: 10px 0;
    margin: 2vh;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    background-color: #333;
    border-radius: 5px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #f39c12;
    color: #1a1a1a;
    border-radius: 5px;
}

/* Search and Buttons */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"], select {
    width: 60%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background-color: #333;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Movies Grid */
#moviesList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}

.movie a {
    text-decoration: none; /* Remove o sublinhado */
    color: #ffffff; /* Garante que o texto dentro do link seja branco */
    display: block; /* Faz com que a área do link ocupe toda a div */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.movie a:hover {
    background-color: rgba(51, 51, 51, 0.5); /* Leve escurecimento no fundo para indicar interação */
}

.movie img {
    width: 100%;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
    display: block; /* Garante que a imagem ocupe toda a largura da div */
}

.movie h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #f39c12;
}

/* Loading Spinner */
#loadingSpinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e74c3c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
    input[type="text"], select {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}
